<%- layout("./layout/layout") %>
    <div class="container" id="main-container">
        <div class="row">
            <% categorys.forEach(category=> { %>
                <div class="col-lg-3 md-4 py-1 px-1">
                    <div class="card" id="<%= category.name %>Card " style="width: 18rem;">
                        <img src="<%= category.img %> " class="card-img-top " style="max-height: 10em;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= category.name %>
                            </h5>
                            <div class="card-text">
                                <ul>
                                    <li>כמות במלאי: <%= count[category.name] %>
                                    </li>
                                    <li>כמות בשימוש:</li>
                                    <li>משתמשים:</li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Launch demo modal
                            </button>
                        </div>
                    </div>
                </div>

                <% }) %>
        </div>
    </div>






    <script src="/javaScript/cardBehavoreScript.js"></script>